* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-light: #60a5fa;
    --brand-color-dark: #1d4ed8;
    --bg-color: #0f172a;
    --stroke-color: #1e293b;
    --text-color-primary: #f1f5f9;
    --text-color-secondary: #cbd5e1;

    --font-family: "Archivo", sans-serif;

    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/140% var(--font-family);
}

body {
    color: var(--text-color-primary);
    background-color: var(--bg-color);
    font: var(--text);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--brand-color-light);
}

h1,
h2,
h3 {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 2rem;
}

main {
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    grid-template-areas:
        "featured featured"
        "weekly weekly"
        "ai aside";

    margin-block: 40px;
    row-gap: 80px;
    column-gap: 32px;
}

main > * {
    min-width: 0;
}

.content-tag {
    display: inline-block;
    padding: 4px 8px;

    color: var(--text-color-primary);
    background-color: var(--brand-color-dark);

    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(2, 6, 23, 0.25);

    font: 500 10px/1.2 var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

/* Tablet */
@media (max-width: 52rem) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "featured"
            "weekly"
            "ai"
            "aside";

        row-gap: 48px;
    }
}

/* Celular */
@media (max-width: 33rem) {
    .container {
        padding-inline: 1rem;
    }

    main {
        margin-block: 24px;
        row-gap: 40px;
    }
}