#primary {
    padding-block: 20px;

    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    div:nth-child(2) {
        margin-inline: auto;
    }

    div:nth-child(3) {
        justify-self: end;
    }
}

#secondary {
    padding-block: 14px;

    border: 1px solid var(--stroke-color);
    border-inline: none;

    justify-content: space-between;
}

@media (max-width: 52rem) {
  #secondary {
    justify-content: start;
    grid-auto-columns: max-content;
    gap: 2rem;
    overflow-x: auto;
    scrollbar-width: none;

    a {
      white-space: nowrap;
    }
  }

  #secondary::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 33rem) {
  #primary {
    padding-block: 16px;
  }

  #secondary {
    gap: 1rem;
  }
}